/* Home.css */
.home {
  padding: 0;
}


.welcome-section {
  background: url('bc23.jpg') no-repeat center center;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

/* Media Query for Tablets and Small Screens */
@media (max-width: 768px) {
  .welcome-section {
    background-size: cover; /* Ensure the background still covers the area */
    height: 80vh; /* Adjust the height if needed */
    padding: 0 15px; /* Adjust padding for smaller screens */
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .welcome-section {
    background-size: cover; /* Maintain cover size */
    height: 70vh; /* Further adjust height for mobile */
    padding: 0 10px; /* Further adjust padding for mobile */
    text-align: center;
  }
}


.welcome-section h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: red;
}

.welcome-section p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: white;
}

.services-section {
  padding: 4rem 5;
}

.service-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

}

.service-card:hover {
  transform: scale(1.05);
}

.video-section h2 {
  margin-bottom: 1.5rem;
}

.video-section video {
  border-radius: 8px;
}

.robots-section {
  padding: 4rem 0;
}

.robot-card {
  transition: transform 0.2s ease-in-out;
}

.robot-card:hover {
  transform: scale(1.05);
}

.robots-section h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.robots-section p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.programs-section {
  padding: 40px 0;
  background-color: #f8f9fa;
}

.program-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.program-card:hover {
  transform: translateY(-5px);
}

.program-card .card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.program-card .card-text {
  font-size: 1rem;
  color: #555;
}

.services-section h2 {
  font-size: 2.5rem;
  color: #007bff;
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.5);
  position: relative;
  animation: glow 1.5s infinite;
  font-weight: bold;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.5), 0 0 10px rgba(0, 123, 255, 0.3);
  }
  50% {
    text-shadow: 0 0 15px rgba(0, 123, 255, 0.9), 0 0 30px rgba(0, 123, 255, 0.7);
  }
  100% {
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.5), 0 0 10px rgba(0, 123, 255, 0.3);
  }
}


