.footer {
  background-color: blue;
  color: black;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer a {
  color: black;
  font-size: 1.2rem;
  margin-left: 10px;
}

.footer a:hover {
  color: yellow;
}

@media (max-width: 767px) {
  .text-md-right {
    text-align: left !important;
    margin-top: 10px;
  }
}
