.nav-link {
    color: #555;
    transition: color 0.3s ease;
    width: 100%;
    
  }
  
  .nav-link:hover, .nav-link.active {
    color: #007bff;
  }
  
  .dropdown-menu {
    background-color: #f8f9fa;
  }
  
  .dropdown-item:hover {
    background-color: #e9ecef;
  }
  .flag-selector {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
 
  }
  
  .flag-selector img {
    margin-right: 5px;
  }
  
  .flag-dropdown {
    min-width: 160px;
  }
  
  .flag-dropdown .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .flag-dropdown .dropdown-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
   
  }
